// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// FontAwesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
// Owl carousel
@import "~owl.carousel/src/scss/owl.carousel";
@import url('https://fonts.googleapis.com/css?family=Quicksand:500&display=swap');

/** reset **/
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    //font-family: "RegencyScriptFLF Regular", Arial, sans-serif;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: relative;
    //color: #929292;
    color: #1a1a1a;
    -webkit-text-size-adjust: none;
    background-color: #ffffff;
    padding-right: 0 !important;
}

.text-cinza {
    color: $cinza;
}

.line {
    border: $border-2px #575199;
}

.line-red {
    border: $border-2px $red;
}

.line-section {
    border-width: 2px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

/** font **/
@font-face {
    font-family: 'RegencyScriptFLF Regular';
    font-style: normal;
    font-weight: normal;
    src: local('RegencyScriptFLF Regular'), url('http://site/fontes/RegencyScriptFLF-Regular.ttf') format('woff');
}


/** class error message **/
.has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .control-label {
    color: #a94442;
}

/** header **/
.breadcrumb {
    background-color: #ffffff !important;
}

/** content **/
.text-link-home {
    color: #0f253c;
    text-decoration: none;
}

.text-link-home:hover {
    color: #e30742;
    text-decoration: none;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transition-delay: initial;
}

.text-link {
    //color: #00B0E8;
    color: #000;
    text-decoration: none;
}

.text-link:hover {
    color: #e30742;
    text-decoration: none;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transition-delay: initial;
}

.link-active {
    color: #00B0E8;
    text-decoration: none;
}

.link-active:hover {
    color: #e30742;
    text-decoration: none;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transition-delay: initial;
}


.retreat {
    text-indent: 4em;
    text-align: justify;
}

.retreat-medium {
    text-indent: 6em;
    text-align: justify;
}

/** timeline clausulas **/
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/** footer fixed bottom **/
#app {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -120px;
}

#push {
    height: 120px;
}

.bg-footer {
    background-color: #e04770;
}


/** footer **/
.icon-home {
    width: 32px;
    height: 32px;
}

.text-link-footer {
    color: #ffffff;
    text-decoration: none;
}

.text-link-footer:hover {
    color: #000;
    text-decoration: none;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transition-delay: initial;
}

.text-footer {
    font-size: $text-size-13;
}

/** maxlength **/
.input-group-addon {
    width: 40px;
    background-color: #6c757d;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**
  ********************************************** LAYOUT *******************************************
 **/

/** navbar **/
.dropdown-item:hover,
.dropdown-item:focus {
    text-decoration: none;
}

/** back to top **/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(250, 51, 27, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1001;
}

#return-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

#return-to-top i {
    color: #fff;
    margin: auto;
    position: relative;
    text-align: center;
    left: 10px;
    font-size: 45px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/** slider **/
.bg-slider {
    background-color: #e6e6e6
}

/** footer **/
.bg-footer-layout {
    background-color: #F2F5F7;
}

.text-link-footer-layout {
    color: #0f253c;
    text-decoration: none;
}

.text-link-footer-layout:hover {
    color: #e30742;
    text-decoration: none;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transition-delay: initial;
}

/******
***** YOUTUBE EMBED (RESPONSIVO)
******/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/******
***** RATING
******/
.rating input[type="radio"]{
	display:none;
}.rating label i.fa:before{
	content: '\f005';
	color: #fc0;
}.rating input[type="radio"]:checked ~ label i.fa:before{
	color: #ccc;
}

/******
*
***** CONFIGURAÇÕES NOVO LAYOUT
*
******/

.header_footer {
    background-color: rgb(26, 26, 26);
    color: white;
    line-height: 6px;
}

.footer {
    bottom: 0;
    width: 100%;
}

.pr-45 {
    padding-right: 45px;
}

.menu {
    cursor: pointer;
    font-size: 16px;
    color: rgb(51, 51, 51);
}

.drop_icon {
    color: rgb(212, 0, 0);
}

.intro_border {
    border-color: #dc3545;
}

.red {
    color: red;
}

.manchete_chapeu {
    color: rgb(51, 51, 51);
    font-size: 11px;
}

.manchete_titulo {
    font-family: 'Georgia', 'Arial';
    font-size: 25px;
    line-height: 1.3;
}

.manchete_corpo {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 1.4;
}

.icon-color {
    height: 14px;
    width: 14px;
    fill: rgb(179, 179, 179);
}

.green {
    color: greenyellow;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.lightblue {
    color: #00B0E8;
}

.purple {
    color: purple;
}

.black {
    color: black !important;
}

.noticia_chapeu1 {
    color: rgb(51, 51, 51);
    font-size: 11px;
}

.noticia_titulo1 {
    font-family: 'Georgia', 'Arial';
    font-size: 1em;
    line-height: 1.3;
}

.noticia_corpo1 {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.4;
}

.faixa_size {
    font-size: 18px;
}

.noticia_chapeu2 {
    color: rgb(51, 51, 51);
    font-size: 10px;
}

.noticia_titulo2 {
    font-family: 'Georgia', 'Arial';
    font-size: 16px;
    line-height: 1.3;

}

.servicos1 {
    background: rgb(135, 205, 222);
}

.servicos2 {
    background: rgb(109, 194, 215);
}

.servicos3 {
    background: rgb(86, 161, 192);
}

.servicos_size {
    font-family: 'Quicksand', 'Arial';
    font-size: 1.0rem;
    line-height: 1.3;
    font-weight: bold;

}

.giz_background {
    background: rgb(242, 242, 242);
}

.giz_titulo {
    font-family: Helvetica, Arial;
    font-size: 1.3rem;
    line-height: 1.4em;
}

.giz_corpo {
    font-family: Helvetica, Arial;
    font-size: 1.0rem;
    line-height: 1.4em;
}

.footer_size1 {
    font-size: 100%;
}

.footer_size2 {
    font-size: 14px
}

.noticia_interna_chapeu1 {
    color: orange;
    font-size: 11px;
}

.noticia_interna_titulo1 {
    font-family: Georgia, Arial;
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
}

.noticia_interna_corpo1 {
    font-family: Arial;
    font-size: 18px;
    line-height: 1.4;
}

.card-not {
    background-color: rgba(204, 204, 204, 0.3);
    height: 10rem;
}

.card-bol {
    background-color: rgba(125, 119, 179, 0.3);
    height: 7rem;
}

.card-destaque {
    height: 10rem;
}

.time {
    color: grey;
    font-size: 14px;
    font-weight: 400;
}

/* FAIXA HOME */
.owl-content {
    position: relative;
    background-color: rgb(216, 215, 70);
    min-height: 6rem;

    .owl-theme {
        margin: auto;

        .custom-nav {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            .owl-prev, .owl-next {
                position: absolute;
                height: 6rem;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;

                i {
                    font-size: 1.5rem;
                    color: #c0721f;
                }
            }

            .owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
        }
    }
}

.owl-carousel .owl-item div {
    padding-top: 8px;
    line-height: 1.3;
}

/***
* CAROUSEL
***/
.carousel-caption {
    top: auto;
    right: 0;
    bottom: 4%;
    left: 0;
    color: #fff;
    padding-bottom: 0px !important;
    text-align: left !important;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0; // override <ol> default
    // Use the .carousel-control's width as margin so we don't overlay those
    margin-right: $carousel-control-width;
    margin-left: $carousel-control-width;
    margin-bottom: 0;
    list-style: none;

    li {
        position: relative;
        flex: 0 1 auto;
        width: $carousel-indicator-width;
        height: $carousel-indicator-height;
        margin-right: $carousel-indicator-spacer;
        margin-left: $carousel-indicator-spacer;
        text-indent: -999px;
        background-color: rgba($carousel-indicator-active-bg, .5);
        width: 10px;
        height: 10px;
        border-radius: 100%;

        // Use pseudo classes to increase the hit area by 10px on top and bottom.
        &::before {
            position: absolute;
            top: -10px;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 10px;
            content: "";
        }

        &::after {
            position: absolute;
            bottom: -10px;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 10px;
            content: "";
        }
    }

    .active {
        background-color: $carousel-indicator-active-bg;
    }
}

.carousel-caption h5 {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.64;
}

.carousel-caption p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: -.3px;
}

.gradient_img::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}

// menu level 3
.dropdown-submenu {
    position: relative !important;
}

.dropdown-submenu .dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -1px !important;
}

/** social share **/
.share-buttons {
    letter-spacing: 1px;
    margin: 0 0 10px;
    z-index: 2;
    position: relative;
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.share-buttons li {
    height: auto;
    flex: 0 1 auto;
    width: calc(15% - 1px);
    margin-right: 1px;
}

.share-buttons li:last-child {
    width: 15%;
    margin-right: 0;
}

.share-buttons img {
    width: $icon-width;
    height: $icon-width;
}

.icon-img {
    width: $icon-width;
    height: $icon-width;
}

.intro-img {
    width: 1190px;
    height: 321px !important;
}

.giz-img {
    width: 195px;
    height: 103px;
}

/** calculo reajuste **/
.calculo-reajuste-radio { display: flex; align-items: center }

/**** ALTERAR A COR DE TODOS OS RADIOS / CHECKBOX NO FORMVALIDATION ***/
.checkbox-container.has-danger .custom-control-label {
    color: #dc3545;
}

.checkbox-container.has-success .custom-control-label {
    color: #28a745;
}


/***** Pagina Nova Sindicalizacao *****/
.bemvindo_sind {
    color:  #ff6700;
    font-weight: 600;
}

/***** Pagina de noticias por ano *****/
#btn_ano {
    border-radius: 0 !important;
    margin-left: 0 !important;
}

.not_ano_roxo {
    font-family: Tahoma;
    font-size: 1.3em;
    font-weight: none;
    color: #330080;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.not_data_laranja {
    font-family: Tahoma;
    font-size: 0.9em;
    font-weight: none;
    color: #ff6700;
}

.not_link {
    font-family: Tahoma;
    font-size: 0.9em;
}

/** media queries **/
/* bloqueio de tela minima */
@media only screen and (max-width: 320px) {
    body {
        min-width: 320px;
    }
}

@media only screen and (max-width: 600px) {
    .retreat { text-indent: 1em; text-align: justify; }
    .retreat-medium { text-indent: 2em; text-align: justify; }
}

/**
 * table responsive
 */
@media only screen and (max-width: 800px) {
    #flip-scroll { height: 251px !important; }
    #flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    #flip-scroll * html .cf { zoom: 1; }
    #flip-scroll *:first-child+html .cf { zoom: 1; }

    #flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }

    #flip-scroll th,
    #flip-scroll td { margin: 0; vertical-align: top; }
    #flip-scroll th { text-align: left; }

    #flip-scroll table { display: block; position: relative; width: 100%; }
    #flip-scroll thead { display: block; float: left; }
    #flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    #flip-scroll thead tr { display: block; }
    #flip-scroll th { display: block; text-align: right; }
    #flip-scroll tbody tr { display: inline-block; vertical-align: top; }
    #flip-scroll td { display: block; min-height: 1.25em; text-align: left; height: 50px; }

    /* sort out borders */
    #flip-scroll th { border-bottom: 0; border-left: 0; }
    #flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
    #flip-scroll tbody tr { border-left: 1px solid #babcbf; }
    #flip-scroll th:last-child,
    #flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }


    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

      /* Zebra striping */
      #no-more-tables  tr:nth-of-type(odd) {
        background: #eee;
      }
      #no-more-tables th {
        background: #333;
        color: white;
        font-weight: bold;
      }
      #no-more-tables td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
      }


    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        display: inline-block;
        text-align:left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    /*
	Label the data
	*/
	#no-more-tables td:nth-of-type(1):before { content: "Parlamentar"; }
	#no-more-tables td:nth-of-type(2):before { content: "Partido"; }
	#no-more-tables td:nth-of-type(3):before { content: "Telefone"; }

}

@media (max-width: 992px) {
    #box-search-one {
        display: none;
    }

    #input-search .input-group {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .text-center-person {
        text-align: center !important;
    }
}

@media (min-width: 993px) and (max-width: 1023px) {
    #input-search .input-group {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1024px) {
    #input-search .input-group {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
